<!-- 
		<h2> <a href="/monthly_customers"> Current Monthly Customers </a> </h2>
		<h2> <a href="/all_customers"> All Customers </a> </h2>
		<h2> <a href="/weekly_reports"> Weekly Reports </a> </h2>
 -->
<h1> Customers by referral source (<%=response['total_count']%>) </h1>

<% referral_hash.each do |referral_source, persons| %>
<h2> <%= referral_source %> </h2>
<ul> 
<% persons.each do |person| %>
<li> <a href="https://thecryozone.frontdeskhq.com/people/<%=<%=person[:id]-person[:first_name]-person[:last_name]%>"><%= person[:first_name] %> <%= person[:last_name] %> </a> </li>
<% end %> 
</ul>

<% end %>
